[user]
  name = Bruno Leonardo Michels
  email = brunolm7@gmail.com
  signingkey = E431F460E263C126
[core]
  autocrlf = input
	editor = \"C:\\Programs\\Microsoft VS Code Insiders\\Code - Insiders.exe\" --wait
[color]
  ui = true
[push]
  default = current
[alias]
  alias = config --get-regexp '^alias\\.'
  lga = log --graph --oneline --all --decorate
  fa = fetch --all --prune
  s = status
  p = pull
  ps = push
  fp = !git fetch --all --prune && git pull
  c = checkout
  cb = checkout -b
  cd = checkout development
  m = merge
  r = !git reset HEAD -- . && git checkout -- . && git clean -fd
  rs = reset HEAD~1 --soft
  rh = reset HEAD~1 --hard
[commit]
  gpgsign = true
[gpg]
  program = C:/Program Files (x86)/GnuPG/bin/gpg.exe
[winUpdater]
	recentlySeenVersion = 2.23.0.windows.1
