[user]
  name = Bruno Leonardo Michels
  email = brunolm7@gmail.com
  signingkey = F48F70DB8392AE7A
[core]
  editor = code
  autocrlf = input
[color]
  ui = true
[push]
  default = current
[alias]
  alias = config --get-regexp '^alias\\.'
  lga = log --graph --oneline --all --decorate
  fa = fetch --all --prune
  p = pull
  ps = push
  fp = !git fetch --all --prune && git pull
  c = checkout
  cb = checkout -b
  cd = checkout development
  m = merge
  r = !git reset HEAD -- . && git checkout -- . && git clean -fd
[commit]
  gpgsign = true
[gpg]
  program = C:/Program Files (x86)/GnuPG/bin/gpg.exe
